doctype thml
html
  head
    title #{title || 'Nino Tips'}
    link(rel="stylesheet", href="/stylesheets/typo.css")
    link(rel="stylesheet", href="/stylesheets/docs.css")
    link(rel="stylesheet", href="/stylesheets/highlight.github.css")
    block custom-stylesheet

  body

    section#container.typo
      block content
    footer

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/highlight.js")
    script(src="/javascripts/docs.js")
