html {
    background: #eee;
}

body {
    width: 90%;
    max-width: 960px;
    background: #fff;
    margin: 3em auto;
    border: 1px solid #ddd;
}

#header {
    background: #333;
    padding: 0 10%;
}

#header a {
    color: #eee;
    text-shadow: 0px 0px 5px #aaa;
    text-decoration: none;
}

#container {
    padding: 5% 10%;
    position: relative;
}

article table {
    width: 100%;
}

/* 代码 */
p code {
    margin: 0 0.2em;
    padding: 0 4px;
    background: #eee;
}
pre {
    padding: 12px 0;
    border: none;
    background: transparent;
    border-top: 1px dotted #bfbfbf;
    border-bottom: 1px dotted #bfbfbf;
}
pre code,
.hljs {
    background: transparent;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

/* 评论 */
#container #ds-thread #ds-reset .ds-meta ,
#container #ds-thread #ds-reset .ds-powered-by ,
#container #ds-thread #ds-reset .ds-comments-info,
#container #ds-thread #ds-reset li.ds-post-placeholder {
    display: none;
}
#container #ds-thread #ds-reset li.ds-post {
    border-top: none;
}
#container #ds-thread #ds-reset li.ds-tab a.ds-current {
    border: none;
    background: transparent;
}
#container #ds-thread #ds-reset .ds-comments {
    border: none;
}
#container .ds-post-reply,
#container .ds-post-likes,
#container .ds-post-repost,
#container .ds-post-report {
    display: none ! important;
}
#container .ds-post:hover .ds-post-reply {
    display: inline ! important;
}
